.caixa
{
    background-color: #6495ED;
    
}

.titulo
{
   color: #f3e4cb !important;
   font-weight: bold !important;
}

.botao
{
    border-color: #F5DEB3 !important;
    background-color: #3F51B5;
    color: #F5DEB3 !important;
}

.postagem
{
    background-color: #F5DEB3;
}