.caixa
{
    background-color: #6495ED;
    
}

.titulo
{
   color: #f3e4cb !important;
   font-weight: bold !important;
}

 .botao
{
    border-color: #F5DEB3 !important;
    background-color: #3F51B5;
    color: #F5DEB3 !important; 
}

.postagem
{
    background-color: #F5DEB3;
}

.text-decorator-none
{
    text-decoration: none;
}

.imageHome
{
    background-image: url(https://i.giphy.com/media/xT0GqkbKlg3wuaETVS/giphy.webp);
    background-repeat:no-repeat;
    width: 80vh;
    min-height:65vh;
    background-size:cover;
    background-position:center;
}